body{
  background: #f2e1d9;
}

#container{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background: white;
  padding: 30px;
  border-radius: 40px;

table{
  padding: 20px;
  th {
  	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
  	sans-serif;
  	color: #99580c;
  	border-right: 1px solid #d9b870;
  	border-bottom: 1px solid #d9b870;
  	border-top: 1px solid #d9b870;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	text-align: center;
  	padding: 6px 6px 6px 12px;
  	background: #f2e1d9 url(images/bg_header.jpg) no-repeat;
  }

  td {
  	border-right: 1px solid #d9b870;
  	border-left: 1px solid #d9b870;
  	border-bottom: 1px solid #d9b870;
  	background: #fff;
  	padding: 6px 6px 6px 12px;
  	color: #6D929B;
  }

  td.alt {
  	background: #F5FAFA;
  	color: #B4AA9D;
  }
}

}
// cf6b07
$button_color1: #cf7c2f;
$button_color2: #CF3B0E;
.button {
	background: #cf6b07;
	background:-moz-linear-gradient(top,$button_color1 0%,$button_color2 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,$button_color1),color-stop(100%,$button_color2));
	background:-webkit-linear-gradient(top,$button_color1 0%,$button_color2 100%);
	background:-o-linear-gradient(top,$button_color1 0%,$button_color2 100%);
	background:-ms-linear-gradient(top,$button_color1 0%,$button_color2 100%);
	background:linear-gradient(top,$button_color1 0%,$button_color2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$button_color1',endColorstr='$button_color2',GradientType=0);
	padding:8px 20px;
	color: #f2e1d9;
	font-family:'Helvetica Neue',sans-serif;
	font-size:13px;
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border:1px solid #095B7E;
  text-decoration: none;
}

.alive{
  text-decoration:none;
  color: black;
}

.dead{
  text-decoration:line-through;
  color: black;
}
